<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
    <ul>
    <% @vote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :pitch_id %><br />
    <%= f.text_field :pitch_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
